In [ ]:
print('hello')

hello

In [ ]:
#Arithematic operators
print(5 + 6)
print(5*5)#addition
print(5-6)#subtraction
print(5/2)#normal div
print(5//2)#integer div
print(5%2)#remainder
print(5**2)#power

11
25
-1
2.5
2
1
25

In [ ]:
#relational operator
print(4>5)
print(4<5)
print(4>=4)
print(4<=4)
print(4==4)
print(4!=4)

False
True
True
True
True
False

In [ ]:
#logical operator
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [ ]:
#bitwise operator
print(2 & 3)#bitwise and
print(2 | 3)#bitwise or
print(2 ^ 3)#bitwise xor
print(~3)#bitwise not
print(4 >> 2)#bitwise right shift
print(5 << 2)#bitwise left shift

2
3

In [ ]:
#assignment operator
a = 2
a += 2 # a = a + 2
print(a)


# a++ and ++a not allowed

4

In [ ]:
#membership operator
print('D' not in 'Delhi')
print(1 in [2,3,4,5,6])

False
False

In [ ]:
#program - find the sum of a 3 digit number entered by the user
number = int(input('Enter a 3 digit number : '))
a = number % 10 # 345 % 10
number //= 10
b = number % 10 # 34 % 10
number //= 10
c = number % 10 #3%10
print(a+b+c)

Enter a 3 digit number : 738
18

In [ ]:
#if-else examples
#login program and introduction
email = input('Enter email : ')
password = input('Enter password : ')
if email == 'harsh.gmail.com' and password == '12345':
  print('welcome to the page')              #indentation is must
elif email == 'harsh.gmail.com' and password != '12345':
  print('incorrect password')
elif email != 'harsh.gmail.com' and password == '12345':
  print('incorrect email')
else :
  print('incorrect credentials')

Enter email : harsh.gmail.com
Enter password : 123
incorrect password

In [ ]:
# 1. Find the min of 3 numbers
a = int(input('Enter first number : '))
b = int(input('Enter second number : '))
c = int(input('Enter third number : '))
if (a < b) and (a < c):
  print('a is the minimum')
elif (b < a) and (b < c):
  print('b is the minimum')
else:
  print('c is the minimum')

Enter first number : 1
Enter second number : 1
Enter third number : 1
c is the minimum

In [ ]:
#menu driven program
fnum = int(input('Enter first number : '))
snum = int(input('Enter second number : '))
op = input('Enter the operation : ')
if op == '+':
  print('sum of both numbers is : ',fnum + snum)
elif op == '-':
  print('subtraction of both numbers is : ',fnum - snum)
elif op == '*':
  print('multiplication of both numbers is : ',fnum * snum)
elif op == '/':
  print('division of both numbers is : ',fnum / snum)
else :
  print('Invalid operation')

Enter first number : 34
Enter second number : 3
Enter the operation : *
multiplication of both numbers is :  102

Module in python

In [ ]:
#math
import math
math.factorial(5)
math.floor(6.8)
math.sqrt(196)

14.0

In [ ]:
#keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#random
import random
print(random.randint(1,100))

56

In [ ]:
#datetime
import datetime
print(datetime.datetime.now())

2025-03-29 14:21:34.643136

In [ ]:
#help('modules') ----> will tell all modules present in google colab

In [ ]:
#loops in python
#EXAMPLE --->>> FLIPKART ---->> SAMSUNG PRODUCTS



number = int(input('Enter the number : '))
i = 1
while i < 11:
  print('4','*',i,'=',number * i)
  i += 1

Enter the number : 5
4 * 1 = 5
4 * 2 = 10
4 * 3 = 15
4 * 4 = 20
4 * 5 = 25
4 * 6 = 30
4 * 7 = 35
4 * 8 = 40
4 * 9 = 45
4 * 10 = 50

In [ ]:
#while loop with else
x =1
while x < 3:
  print(x)
  x += 1
else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
#guessing game
import random
number = random.randint(1,100)
guess = int(input('Guess a number between 1 and 100 : '))
count = 1
while(guess != number):

  if guess < number:                                                         #imp concept
    print('too low number , guess higher')
  else:
    print('too high number , guess lower')
  guess = int(input('Guess a number between 1 and 100 : '))
  count += 1
else:
  print('you won!')
  print('you took',count,'attempts')

In [ ]:
# for loop
for i in range(1,10,2):#10 is excluded # 2 is step size
  print(i)

1
3
5
7
9

In [ ]:
for i in range (10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in 'Delhi' :
  print(i)

D
e
l
h
i

In [ ]:
for i in (1,2,3,4,5,6):
  print(i)

1
2
3
4
5
6

In [ ]:
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

In [ ]:
#population prediction
currentPopulation = 10000
for i in range (10,0,-1):
  print(i,currentPopulation)
  currentPopulation = currentPopulation - 0.1 * currentPopulation

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489



*   break
*   continue
*   pass

In [ ]:
# when we do not want error to come ===== pass