In [ ]:
print('tuple, sets, dictionary')

tuple, sets, dictionary

tuples are same as lists, just they are immutable

In [ ]:
#they are ordered
#unchangable
#allow duplicates

In [ ]:
#empty tuple
t1 = ()
print(t1)
#to create tuple with single item
t2 = (1)
print(t2)
print(type(t2))
t3 = ('helloo')
print(t3)
print(type(t3))
#so for single element in a tuple we need to add comma at last
t4 = ('hello',)
print(t4)
print(type(t4))
#hetro
t5=(1,2,3, "hello",True, False)
print(t5)
#2D
t6 = ((1,2,3),('a','b','c'))
print(t6)
#using type conversion
t7 = tuple('hello')
print(t7)
t8 = tuple([1,2,3,4,5])
print(t8)

()
1
<class 'int'>
helloo
<class 'str'>
('hello',)
<class 'tuple'>
(1, 2, 3, 'hello', True, False)
((1, 2, 3), ('a', 'b', 'c'))
('h', 'e', 'l', 'l', 'o')
(1, 2, 3, 4, 5)

In [ ]:
#accessing items in a tuple
#indexing
t3 = ('hello','hey','hiii')
print(t3[1])
print(t3)
print(type(t3))
print(t3[-1])
#everything is same as list in indexing

hey
('hello', 'hey', 'hiii')
<class 'tuple'>
hiii

In [ ]:
#edit items
t3 = ('hello','hey','hiii')
t3[1] = 'bye'
print(t3)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#adding items
t3 = ('hello','hey','hiii')
t3[3] = 'bye'
print(t3)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#deleting items
# can delete whole tuple but cannot delete individual or a portion
t3 = (1,2,3,4,5 )
del t3
print (t3)

NameError: name 't3' is not defined

In [ ]:
#operations on tuple
# + *
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)
print(t1*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#membership
t1 = (1,2,3)
print(1 in t1)
print(4 in t1)

True
False

In [ ]:
#loops
t1 = (1,2,3)
for i in t1:
    print(i)

1
2
3

In [ ]:
#functions in tuple
#len()
t1 = (1,2,3)
print(len(t1))

#min()
t1 = (1,2,3)
print(min(t1))

#max()
t1 = (1,2,3)
print(max(t1))

#sum()
t1 = (1,2,3)
print(sum(t1))

#sorted()
t1 = (1,2,3)
print(sorted(t1))

3
1
3
6
[1, 2, 3]

In [ ]:
#count
t1 = (1,2,3,1,2,3,1,2,3)
print(t1.count(1))

3

In [ ]:
#index
t1 = (1,2,3,1,2,3,1,2,3)
print(t1.index(1))

0

In [ ]:
''' difference between lists and lists
syntax
tuples are not mutable
tuples are faster then list because they area immutable
tuple take less memory reasn upr walla hi
built in functions for lists is more than tuple
lists are nore error prone
 '''

' difference between lists and lists\nsyntax\ntuples are not mutable\ntuples are faster then list because they area immutable\ntuple take less memory reasn upr walla hi\nbuilt in functions for lists is more than tuple\nlists are nore error prone\n '

In [ ]:
# eg of error prone
a=[1,2,3]
b=a
a.append(4)
print(a)
print(b)

print(" ")

c=(1,2,3)
d=c
c=c+(4,)
print(c)
print(d)

[1, 2, 3, 4]
[1, 2, 3, 4]

(1, 2, 3, 4)
(1, 2, 3)

In [ ]:
#applications where changes can be made make use of lists

In [ ]:
#tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b=(1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [ ]:
#swapping values easy way
a=1
b=2
a,b = b,a
print(a,b)

2 1

In [ ]:
a,b,*other = (1,2,3,4,5)
print(a)
print(b)
print(other)

1
2
[3, 4, 5]

In [ ]:
#zipping tuples
a=(1,2,3)
b=(4,5,6)
c=zip(a,b)
print(zip(a,b))
print(tuple(c))

<zip object at 0x7ea77b549f00>
((1, 4), (2, 5), (3, 6))

SETS

---

it is unordered collection of items.

---

every element is unique (no duplicate) and must be immutable --> set mutable hota hahi pr uske andar mutable items nhi daal skte

---
*   unordered
*   mutable
*   no duplicate
*   cannot contain mutable data types therefore 2D sets not possible

In [ ]:
#empty
s1 = {}#ye dictionary bnega
print(s1)
print(type(s1)) #dictionary
#empty set
s2 = set()
print(s2)
print(type(s2))

{}
<class 'dict'>
set()
<class 'set'>

In [ ]:
#1D and 2D
s3 = {1,2,3}
print(s3)
print(type(s3))
s4 = {1,2,3,{4,5,6}}
print(s4)
print(type(s4))

{1, 2, 3}
<class 'set'>

TypeError: unhashable type: 'set'

In [ ]:
#homo and hetro
s5 = {1,2,3}
print(s5)
s6 = {1,2,3,"hello",True,False} #we cannot have duplicates isliye true nhi show hua
print(s6)

{1, 2, 3}
{False, 1, 2, 3, 'hello'}

In [ ]:
#using type conversion
s7 = set('hello')
print(s7)

{'o', 'e', 'h', 'l'}

In [ ]:
#duplicates not allowed
s8 = {1,2,3,1,2,3}
print(s8)
#set can't have mutable items
s9 = {[1,2,3]}
print(s9)

{1, 2, 3}

TypeError: unhashable type: 'list'

In [ ]:
s1={1,2,3}
s2={3,2,1}
print(s1==s2) #because sets is unordered

True

In [ ]:
#accessing items
s1 = {1,2,3,4}
s1[0] #cannot do indexing , sllicing , because it is unordered

TypeError: 'set' object is not subscriptable

In [ ]:
#indexing , slicing not allowed

# but can add new item and delete and item

#add  -----> only add one item at once
s={1,2,3,4}
s.add(5)
print(s)

#update     -----> can add multiple items bs items ko list ke andar bhejna pdega
s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#deleting items
#del
s={1,2,3,4}
del s
print(s) #-----> not printted because deleted
del s[0] #cannot do this bec. slicing and indexing does not work in sets

NameError: name 's' is not defined

In [ ]:
#discard
s={1,2,3,4}
s.discard(4)
print(s)
s.discard(50) # will not throw error

{1, 2, 3}

In [ ]:
#remove
s={1,2,3,4}
s.remove(4)
print(s)
s.remove(50) # will throw error ---------> difference bw discard and remove

{1, 2, 3}

KeyError: 50

In [ ]:
#pop
s={1,2,3,4}
s.pop()
print(s) #----> randomly kisi ko bhi delete kr dega

{2, 3, 4}

In [ ]:
#clear
s={1,2,3,4}
s.clear()     # clears up the set to empty set
print(s)

set()

Set operations

In [ ]:
#union(|). -----> will print all items of both sets only once no duplicate
s1 = {1,2,3}
s2 = {3,4,5}
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
#intersection(&)
s1 = {1,2,3}
s2 = {3,4,5}
print(s1&s2)
print(s1.intersection(s2))

{3}
{3}

In [ ]:
#difference(-)
print(s1 - s2) # s1 ke vo items jo s2 mai present nhi hai
print(s1.difference(s2))
print(s2-s1)

{1, 2}
{1, 2}
{4, 5}

In [ ]:
#symmetric difference(^)  ----->common ko chor ke baaki sb print ho jaayega
print(s1^s2)
print(s1.symmetric_difference(s2))

{1, 2, 4, 5}
{1, 2, 4, 5}

In [ ]:
#membership test
1 in s1
1 not in s1

False

In [ ]:
# iterations
for i in s1:
  print(s1)
  print(i)

{1, 2, 3}
1
{1, 2, 3}
2
{1, 2, 3}
3

set functions

In [ ]:
#len/sum/min/max/sorted
s={6,7,1,2,3,4}
print(len(s))
print(max(s))
print(min(s))
print(sorted(s))
print(sorted(s, reverse=True))

6
7
1
[1, 2, 3, 4, 6, 7]
[7, 6, 4, 3, 2, 1]

In [ ]:
#union/update
s1 = {1,2,3}
s2 = {3,4,5}
s1.union(s2)
print(s1|s2)

print('update')
s1.update(s2) #permanent change , # jisko update kr rhe ho usmai 2nd set ke items add hokr aa jaate hai
print(s1)
print(s2)

{1, 2, 3, 4, 5}
update
{1, 2, 3, 4, 5}
{3, 4, 5}

In [ ]:
#intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7,8}
s1.intersection(s2)

print('intersection_update')
s1.intersection_update(s2) #permanent change
print(s1)
print(s2)

intersection_update
{3, 4, 5}
{3, 4, 5, 6, 7, 8}

In [ ]:
#difference/difference_update
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7,8}
s1.intersection(s2)

print('difference_update')
s1.difference_update(s2) #permanent change
print(s1)
print(s2)

difference_update
{1, 2}
{3, 4, 5, 6, 7, 8}

In [ ]:
#isdisjoint. ----> jis mai ek bhi item common nhi hota
s1={1,2,3,4}
s2={3,4,5,6}
s1.isdisjoint(s2)

False

In [ ]:
#issubset
s1={1,2,3,4,5}
s2={3,4,5}
s2.issubset(s1)
s1.issubset(s2)

False

In [ ]:
#issuperset
s1={1,2,3,4,5}
s2={3,4,5}
s1.issuperset(s2)

True

In [ ]:
#copy   ----> shallow copy create krega
s1={1,2,3,4,5}
s2=s1.copy()
print(id(s1))
print(id(s2))   #dono ka address alg hoga

139257494893312
139257480081504

Frozenset

---
frozen set is just an immutable version of python set objects , means naye items add nhi honge aur purane items delete nhi honge

In [ ]:
#create frozenset
fs = frozenset([1,2,3,4])
print(fs)
print(type(fs))

frozenset({1, 2, 3, 4})
<class 'frozenset'>

In [ ]:
fs1= frozenset([1,2,3,4])
fs2= frozenset([3,4,5,6])
print(fs1.union(fs2))
print(fs1.intersection(fs2))   #union intersection vo sb kaam krenge

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})

In [ ]:
#what works and what does not
# works --> all read functions
# doesn't work ---> write operations

In [ ]:
#when to use
#2D sets
fs =frozenset([1,2,frozenset([4,5])])
fs

frozenset({1, 2, frozenset({4, 5})})

Set Comprehension

In [ ]:
#examples
{i for i in range(1,11) }

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

In [ ]:
{i**2 for i in range(1,11) }

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

# Dictionary

---

it is a collection of key and value pair, used to store values like a map ,which , unlike other datea types which hold only a singlw value as an element


---


*   mutable
*   Indexing has no meaning
*   keys can't be duplicate
*   keys can't be mutable items

In [ ]:
#empty dictionary
d={}
d

{}

In [ ]:
#1d dictionary
d1={'name':'harsh','gender': 'male'}  #homogenous dictionary because keys are of one type***
d1

{'name': 'harsh', 'gender': 'male'}

In [ ]:
#mixed type of dictionary
d2={(1,2,3):1,'hello':'world'}  #because there are two types of keys
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [ ]:
#2D dictionary      -------> JSON
s={
    'name':'harsh',
    'college':'mait',
    'sem':4,
    'subjects':{      #it has 4 key value pairs
        'dsa':90,
        'dld':98,
        'maths':99,
        'eng':95
    }
}
s

{'name': 'harsh',
 'college': 'mait',
 'sem': 4,
 'subjects': {'dsa': 90, 'dld': 98, 'maths': 99, 'eng': 95}}

In [ ]:
#using dict function
d=dict(name='harsh',gender='male')
print(d)
d1=dict([(1,1),(2,2),(3,3)]) #list of tuples
print(d1)
d2=dict([('name','harsh'),('age',12),(3,3)])
print(d2)

{'name': 'harsh', 'gender': 'male'}
{1: 1, 2: 2, 3: 3}
{'name': 'harsh', 'age': 12, 3: 3}

In [ ]:
#accessing items
my_dict={'name':'harsh','gender':'male'}
#by passing key
print(my_dict['name'])  #my_dict[0] -----> will throw an error
#use get function
print(my_dict.get('name'))

harsh
harsh

In [ ]:
#adding new key value pair
d4=dict([('name','harsh'),('age',12),(3,3)])
d4['gender']='male'
print(d4)
d4['weight']=50
print(d4)

{'name': 'harsh', 'age': 12, 3: 3, 'gender': 'male'}
{'name': 'harsh', 'age': 12, 3: 3, 'gender': 'male', 'weight': 50}

In [ ]:
#remove key-value pair
#pop
d5={'name': 'harsh', 'age': 12, 3: 3, 'gender': 'male', 'weight': 50}
d5.pop(3)   #----> 3 waali key ka pair remove ho jaayega
d5

{'name': 'harsh', 'age': 12, 'gender': 'male', 'weight': 50}

In [ ]:
#popitem
d6={'name': 'harsh', 'age': 12, 3: 3, 'gender': 'male', 'weight': 50}
d6.popitem()    #---> last walla key value pair delete hoga
d6

{'name': 'harsh', 'age': 12, 3: 3, 'gender': 'male'}

In [ ]:
#del    ---> to remove whole dict or specific key value pair
d6={'name': 'harsh', 'age': 12, 3: 3, 'gender': 'male', 'weight': 50}
del d6['name']
d6

{'age': 12, 3: 3, 'gender': 'male', 'weight': 50}

In [ ]:
#clear
d6.clear()
d6

{}

In [ ]:
s={
    'name':'harsh',
    'college':'mait',
    'sem':4,
    'subject':{      #it has 4 key value pairs
        'dsa':90,
        'dld':98,
        'maths':99,
        'eng':95
    }
}
print(s['subject'])
print(s['subject']['maths'])


s['subject']['DS']=94
print(s['subject']['DS'])

{'dsa': 90, 'dld': 98, 'maths': 99, 'eng': 95}
99
94

In [ ]:
del s['subject']['maths']
s

{'name': 'harsh',
 'college': 'mait',
 'sem': 4,
 'subject': {'dsa': 90, 'dld': 98, 'eng': 95, 'DS': 94}}

In [ ]:
#editing key value pair
s['sem']=5
s

{'name': 'harsh',
 'college': 'mait',
 'sem': 5,
 'subject': {'dsa': 90, 'dld': 98, 'eng': 95, 'DS': 94}}

In [ ]:
s['subject']['dsa'] = 96
s

{'name': 'harsh',
 'college': 'mait',
 'sem': 5,
 'subject': {'dsa': 96, 'dld': 98, 'eng': 95, 'DS': 94}}

# Dictionary Operations

---



*   membership
*   iteration

In [ ]:
#membership
print(s)
'harsh' in s  # false because in dict everything is about keys

{'name': 'harsh', 'college': 'mait', 'sem': 5, 'subject': {'dsa': 96, 'dld': 98, 'eng': 95, 'DS': 94}}

False

In [ ]:
'name' in s

True

In [ ]:
d={'name':'harsh','gender':'male','age':20}
for i in d:
  print(i)  #keys hi print hongi*****

print(' ')
for i in d:
  print(i,d[i]) #values aur keys dono print hongi
print(' ')
for i in d.values():
  print(i)

name
gender
age

name harsh
gender male
age 20

harsh
male
20

Dictionary functions

In [ ]:
#len/sorted
len(d)  #give no. of key value pair

['age', 'gender', 'name']

In [ ]:
sorted(d) #arrange keys

['age', 'gender', 'name']

In [ ]:
sorted(d,reverse=True) #arrange keys

['name', 'gender', 'age']

In [ ]:
#items    ---> print all elements in key value pair in TUPLE
print(d)
print(d.items())

{'name': 'harsh', 'gender': 'male', 'age': 20}
dict_items([('name', 'harsh'), ('gender', 'male'), ('age', 20)])

In [ ]:
#keys
print(d.keys())

dict_keys(['name', 'gender', 'age'])

In [ ]:
#values
print(d.values())

dict_values(['harsh', 'male', 20])

In [ ]:
#update
d1={'name':'harsh','gender':'male'}
d2={'age':20}
d1.update(d2)
print(d1)

{'name': 'harsh', 'gender': 'male', 'age': 20}

# **Dictionary Comprehension**

In [ ]:
#{key : value for vars in iterable}

In [ ]:
#print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#using an existing dict
distances={'delhi':1000,'mumbai':2000,'goa':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'goa': 1860.0}

In [ ]:
#using zip
days = ["sunday","monday",'tuesday','wednesday','thursday','friday','saturday']
tempC= [23,23,34,54,65,12,23]
{i:j for (i,j) in zip(days,tempC)}

{'sunday': 23,
 'monday': 23,
 'tuesday': 34,
 'wednesday': 54,
 'thursday': 65,
 'friday': 12,
 'saturday': 23}

In [ ]:
#using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
#nested comprehension
#print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}