In [41]:
#python is case sensitive
#python is interpreted language, compilers are fast, but it is based on interpretor so it is slow
#this is a comment '#'
print("hello world")
print('hey there')
print(7)
print(8.8)
print(True)
print('hello',1,1.4) #can print multiple data types
#error print(hello)

hello world
hey there
7
8.8
True
hello 1 1.4

In [10]:
print('hello', 1,2,3,sep='**')#separator

hello**1**2**3

In [12]:
print('hello',1,2,3,end='*') #will change the ending of print statement

hello 1 2 3*

In [19]:
#datatypes

#integer
print(8)
#1*10^308
print(1e308)

#decimal/float
print(3.8)

#boolean
print(True)
print(False)

#string
print('hello world')

#complex nums
print(5 + 7j)

#List -> C -> Array
print([1,2,4,5])

#Tuple
print((1,2,3,4,45))

#sets
print({1,2,3,4,5,6})

#dictionary
print({'name':'Harsh','gender':'male'})

8
1e+308
3.8
True
False
hello world
(5+7j)
[1, 2, 4, 5]
(1, 2, 3, 4, 45)
{1, 2, 3, 4, 5, 6}
{'name': 'Harsh', 'gender': 'male'}

In [27]:
#type function
type(3)
type('ehllo')
type(3333.3)
type((1,2,3,4,5))
type([1,2,3,4,5])

list

In [30]:
#variable
name = 'harsh' #need not to specify data type
a= 5
b=6
print (a + b)

11

In [32]:
#Dynamic Typing
a=1 #where we dont type data type of variable

#static typing
#int a = 5

In [34]:
#dynamic binding = means variable can store other data type as well in same variable
a = 3
print(a)
a = 'harsh'
print(a)

#static binding
# int a = 4

3
harsh

In [38]:
a= 1
b =2
c= 3
print(a,b,c)
#OR
a,b,c = 1,2,3
print(a,b,c)

#OR
a=b=c=5
print(a,b,c)

1 2 3
1 2 3
5 5 5

In [39]:
#add two nos
a,b=3,5
print(a+b)

8

In [42]:
#keywords = special type of reserved words (32 words in python)
print('print') #this will work

print

#temp heading

In [43]:
#identifiers = names given to variable
#rules
#cannot start name with digit
#can use upper case , lower case
# can only use _ as special variable
_ = 'ah'
print(_)

ah

In [47]:
#to take input from user
input()
input ('apna naam bta')

je
apna naam btajeee

'jeee'

In [53]:
#take 2 nos and add by taking input
a = input('enter first no. : ')
b = input('enter second no. : ')
print(a+b)#interesting result
print(type(a),type(b))
#result bec string can store any format but vice versa is not possible

enter first no. : 3
enter second no. : 4
34
<class 'str'> <class 'str'>

In [59]:
#type conversion
#implicit vs explicit
print(5+5.6)
print(type(5),type(5.6))
#error ==>> print ( 4+'4')

10.6
<class 'int'> <class 'float'>

In [68]:
#explicit
#string ==>> int
int('4')

#int to str
str(5)
#float
float(4)

4.0

In [75]:
a = input('enter first no. : ')
b = input('enter second no. : ')
print(int(a)+int(b)) # a and b abhi bhi str hi rahenge
print(type(a)) #type conversion does not change the original value ****

enter first no. : 22
enter second no. : 33
55
<class 'str'>

In [76]:
a = int(input('enter first no. : '))
b = int(input('enter second no. : '))
print(a+b)
print(type(a))

enter first no. : 33
enter second no. : 22
55
<class 'int'>

In [77]:
#literals = values stored in variables
a = 0b1010 #binary literal
b = 100 #decimal literal
c = 0o310 #octal literal
d = 0x12c #hexadecimal literal

#float literal
float_1 = 10.5
float_2 = 1.5e2 #1.5*10^2
float_3 = 1.5e-3 #1.5*10^-3

#complex literal
x = 3.14j

In [79]:
string = 'this is python'
strings = "this is python"
char = "c"
multiline_str = """this is a multiline string with more than one line code"""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str =r"\n "

In [83]:
#booleans
a= True + 4
b = False + 10
print("a:",a)
print("B:",b)

a: 5
B: 10

In [85]:
#None
a=None #used when we dont know the value of a variable
print (a)

None

In [ ]:
#Operators