In [1]:
print('task 3')

task 3

In [9]:
for i in range(0,5):
  for j in range(5-i,0,-1):
    print(j, end ='')
  print()

54321
4321
321
21
1

In [2]:
# short form of a string
# mera approach ----> string ---> split(" ") ----> store in list ---> loop chla kr string[0] extract krlo
string = input('enter a string : ')
result=''
for i in string.split():
  result = result +i[0].upper()
print(result)

enter a string : hey how are you
HHAY

In [6]:
firstString = input('enter a string : ')
secondString = input('enter a string : ')
#result = ''
print(firstString[0:int(len(firstString)/2)] + secondString + firstString[int(len(firstString)/2):])

enter a string : hello
enter a string : world
helworldlo

In [10]:
string = 'HeLlOWWoRlD'
upper = ''
lower = ''
for i in string:
  if i.islower():   #imppp concept
    lower = lower + i
  else:
    upper = upper + i
print(lower + upper)

elolHLOWWRD

In [17]:
s1 = input('enter a string : ')
aplha = ''
numeric = ''
count,sum = 0,0
for i in s1:
  if i.isalpha():   # or if i.isdigit()
    aplha = aplha + i
  else:
    numeric = numeric + i
    count += 1
    sum = sum + int(i)
print(sum, sum/count)

enter a string : a1b2c3d4
10 2.5

In [19]:
s2 = input('enter a string : ')
s3 = ''
for i in s2:
  if i.isdigit():
    s3 = s3 + i
  else:
    pass
print(s3)

enter a string : sfad123hjk456jk78dsf9
123456789

In [23]:
#symmetrical string
'''
s1= input('enter a string : ')
s2 = s1[::-1]
if s1 == s2:
  print('symmetrical')
else:
  print('not symmetrical')
'''

s= input('enter a string : ')
if len(s)%2 == 0:
  s1 = s[0:len(s)//2]
  s2 = s[len(s)//2:]
else :
  s1 = s[0:len(s)//2]
  s2 = s[len(s)//2 + 1 :]
if s1 == s2:
  print('symmetrical')
else:
  print('not symmetrical')

enter a string : hiihi
symmetrical

In [25]:
s= input('enter a string : ')
L = []
for i in s.split():
  L.append(i)
L = L[::-1]
print(" ".join(L))

enter a string : hey how are you
you are how hey

In [27]:
A = "apple banana mango"
B = "banana fruits mango"
L = []
for i in A.split():
  if i not in B and i not in L:
    L.append(i)
for j in B.split():
  if j not in A and j not in L:
    L.append(j)
print(L)

['apple', 'fruits']

In [32]:
s = 'We can learn data science through campusx mentorship program.'
word = 'campusx'
pos = 0
for i in s.split():
  if i == word:
    break
  pos = pos + 1
print(pos)

6

In [33]:
s = 'aabbbbcccccddddeeeeffffgggghhhhiiiiiijjjjkkkllllmmmnnnooopppqqqqrrrssstttt'
result = ''
for i in s:
  if i not in result:
    result += i

print(result)

abcdefghijklmnopqrst