In [ ]:
ctc = int (input ("Enter CTC: "))
if(ctc < 500000):
  salary = ctc*.82
elif ctc < 1000000 :
  salary = ctc*.72
elif ctc < 2000000 :
  salary = ctc * .52
print(" SALARY is : ", salary)

Enter CTC: 100
 SALARY is :  82.0

In [ ]:
a = int(input("enter first angle of a triangle : "))
b = int(input("enter second angle of a triangle : "))
c = int(input("enter third angle of a triangle : "))
if (a+b+c == 180 and a>0 and b>0 and c > 0):
  print("triangle is valid")
else:
  print("triangle is not valid")

enter first angle of a triangle : 34
enter second angle of a triangle : 34
enter third angle of a triangle : 66
triangle is not valid

In [ ]:
cp = int(input("enter cost price : "))
sp = int(input("Enter the selling price : "))
if (cp < sp ):
  print('profit')
elif (cp > sp ):
  print('loss')
else :
  print('no profit no loss')

enter cost price : 55
Enter the selling price : 55
no profit no loss

In [1]:
menu = input("""
HI select an option
1.cms to ft
2. km to miles
3. USD to INR
4. Exit
""")

if menu == '1':
  cms = int(input("enter cms : "))
  ft = cms/30.48
  print(ft)
elif menu == '2':
  km = int(input("enter km : "))
  miles = km/1.609
  print(miles)
elif menu == 3:
  usd = float(input('enter usd : '))
  inr = usd*75
  print(inr)
else :
  exit() # When you call exit() in a script or interactive session (like in Python or Google Colab), it will stop the program and terminate the execution.

HI select an option
1.cms to ft
2. km to miles
3. USD to INR
4. Exit
1
enter cms : 10
0.32808398950131235

In [7]:
#fibonacci
'''
firstTerm = int(input("enter first term : "))
secondTerm = int(input("enter second term : "))
n = int(input("enter the number of terms : "))
for i in range(1,n+1):
  if n == 1 :
    print('first term is : ', firstTerm)
    break
  elif n == 2 :
    print('first and second term is : ',firstTerm, '', secondTerm)
    break
  else :
    nextTerm = firstTerm + secondTerm
    firstTerm = secondTerm
    secondTerm = nextTerm
    print(nextTerm)
    '''
firstTerm = int(input("enter first term : "))
secondTerm = int(input("enter second term : "))
n = int(input("enter the number of terms : "))
for i in range (0,n):
  print(firstTerm)
  nextTerm = firstTerm + secondTerm
  firstTerm = secondTerm
  secondTerm = nextTerm

enter first term : 0
enter second term : 1
enter the number of terms : 10
0
1
1
2
3
5
8
13
21
34

In [11]:
#factorial
number = int(input(' Enter a number to which you need to find factorial: '))
fact = 1
for i in range(1,number+1):
  fact*=i
print(fact)

#####  immmpppp i = i + 1 likhne ki zrurt nhhi haiiii for loop mai , but while loop mai likhna pdega

 Enter a number to which you need to find factorial: 5
120

In [12]:
#reverse a given integer number
num = int ( input(' enter a number to be reversed : '))
last = 0    # need nhhi hai vese iski
rev = 0
i = 0
while num>0 : # or while num != 0
  last = num % 10
  rev = rev * 10 + last
  num = num//10
print(rev)

 enter a number to be reversed : 123456789
987654321

In [16]:
#to calculate sum upto 300 without using loop concept
'''n = int(input( 'enter a number till we need to calculate sum : '))
i = 1
sum = 0
if n < 300 :
  sum = sum + i
'''
n = int(input( 'enter a number till we need to calculate sum : '))
sum = 0
for i in range(1, n+1):
  if i % 5 == 0:
    continue
  sum += i
  if sum > 300:
    sum -= i
    break
print(sum)
        ######  i = i + 1 use hoga jb while loop use krenge

enter a number till we need to calculate sum : 5000
276

In [19]:
#sum and average until user input 0
sum = num
count = 0
while True :    # infinite loop
  num = int(input('enter a number : '))
  if num == 0 :
    break
  sum += num
  count += 1
avg = sum / count
print(sum)
print(avg)

enter a number : 1
enter a number : 2
enter a number : 3
enter a number : 0
6
2.0

In [23]:
'''
for i in range(2000, 3201):
  if( i % 7 == 0 and i % 5 != 0):
    print(i,sep =',')
    i+=1
  else:
    i+=1
    continue
'''
L=[]
for i in range(2000, 3201):
  if( i % 7 == 0 and i % 5 != 0):
    L.append(i)
print(L)

''' another method
L=[]
for i in range(2000, 3201):
  if( i % 7 == 0 and i % 5 != 0):
    L.append(str(i))
print(','.join(L))
'''

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

" another method\nL=[]\nfor i in range(2000, 3201):\n  if( i % 7 == 0 and i % 5 != 0):\n    L.append(str(i))\nprint(','.join(L))\n"

In [25]:
#Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line
L=[]
for i in range (2000, 3000):
  flag = True
  curr = i
  while (curr>0):
    last = curr % 10
    if last % 2 != 0:
      flag = False
      break
    curr = curr // 10
  if flag :
    L.append(str(i))    # append ko print krwaoge to none aayega
print('-'.join(L))

2000-2002-2004-2006-2008-2020-2022-2024-2026-2028-2040-2042-2044-2046-2048-2060-2062-2064-2066-2068-2080-2082-2084-2086-2088-2200-2202-2204-2206-2208-2220-2222-2224-2226-2228-2240-2242-2244-2246-2248-2260-2262-2264-2266-2268-2280-2282-2284-2286-2288-2400-2402-2404-2406-2408-2420-2422-2424-2426-2428-2440-2442-2444-2446-2448-2460-2462-2464-2466-2468-2480-2482-2484-2486-2488-2600-2602-2604-2606-2608-2620-2622-2624-2626-2628-2640-2642-2644-2646-2648-2660-2662-2664-2666-2668-2680-2682-2684-2686-2688-2800-2802-2804-2806-2808-2820-2822-2824-2826-2828-2840-2842-2844-2846-2848-2860-2862-2864-2866-2868-2880-2882-2884-2886-2888

In [27]:
#A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
pos = [0,0]
while True:
  path = input('enter the path of robot : ')
  if path == '!' :
    break
  direction = path.split()[0]
  steps = int(path.split()[1])
  if direction == 'UP':
    pos[1] += steps
  elif direction == 'DOWN':
    pos[1] -= steps
  elif direction == 'LEFT':
    pos[0] -= steps
  elif direction == 'RIGHT':
    pos[0] += steps
print(pos)
print(int(round((pos[0]**2 + pos[1]**2)**0.5)))

enter the path of robot : UP 3
enter the path of robot : DOWN 3
enter the path of robot : RIGHT 5
enter the path of robot : LEFT 4
enter the path of robot : !
[1, 0]
1

In [ ]:
#Please write a program to compute the distance from current position after a sequence of movement and original point

In [65]:
#Write a program to print whether a given number is a prime number or not
num = int(input("enter a number : "))
flag = 1
for i in range (2,num):
  if num == 1 or num == 2 :
    print('prime')
    break
  else :
    if num % i == 0:
      flag = 0
      break
if flag == 0 :
  print('not prime')
else:
  print('prime')

enter a number : 11
prime

In [57]:
#armstrong number

In [64]:
# to print angle between the clock hands

hi

In [ ]:
#overlapping of recatngles